*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
libs/
src/main/res/Adapter/
src/main/res/Fragments/
src/main/res/layout-v17/
src/main/res/tabShipments/
