*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
libs/
src/main/res/Adapter/
src/main/res/Fragments/
src/main/res/layout-v17/
src/main/res/tabShipments/
build/generated/assets/
build/generated/res/
build/generated/source/aidl/
build/generated/source/r/androidTest/
build/generated/source/rs/
build/intermediates/assets/
build/intermediates/blame/res/androidTest/
build/intermediates/builds/
build/intermediates/classes/
build/intermediates/dependency-cache/
build/intermediates/exploded-aar/com.akexorcist/RoundCornerProgressBar/2.0.3/aidl/
build/intermediates/exploded-aar/com.akexorcist/RoundCornerProgressBar/2.0.3/assets/
build/intermediates/exploded-aar/com.android.support/animated-vector-drawable/23.3.0/aidl/
build/intermediates/exploded-aar/com.android.support/animated-vector-drawable/23.3.0/assets/
build/intermediates/exploded-aar/com.android.support/animated-vector-drawable/23.3.0/jni/
build/intermediates/exploded-aar/com.android.support/animated-vector-drawable/23.3.0/res/
build/intermediates/exploded-aar/com.android.support/appcompat-v7/23.3.0/aidl/
build/intermediates/exploded-aar/com.android.support/appcompat-v7/23.3.0/assets/
build/intermediates/exploded-aar/com.android.support/appcompat-v7/23.3.0/jni/
build/intermediates/exploded-aar/com.android.support/cardview-v7/23.3.0/aidl/
build/intermediates/exploded-aar/com.android.support/cardview-v7/23.3.0/assets/
build/intermediates/exploded-aar/com.android.support/cardview-v7/23.3.0/jni/
build/intermediates/exploded-aar/com.android.support/design/23.3.0/aidl/
build/intermediates/exploded-aar/com.android.support/design/23.3.0/assets/
build/intermediates/exploded-aar/com.android.support/design/23.3.0/jni/
build/intermediates/exploded-aar/com.android.support/recyclerview-v7/23.3.0/aidl/
build/intermediates/exploded-aar/com.android.support/recyclerview-v7/23.3.0/assets/
build/intermediates/exploded-aar/com.android.support/recyclerview-v7/23.3.0/jni/
build/intermediates/exploded-aar/com.android.support/support-v4/23.3.0/assets/
build/intermediates/exploded-aar/com.android.support/support-v4/23.3.0/jni/
build/intermediates/exploded-aar/com.android.support/support-v4/23.3.0/res/
build/intermediates/exploded-aar/com.android.support/support-vector-drawable/23.3.0/aidl/
build/intermediates/exploded-aar/com.android.support/support-vector-drawable/23.3.0/assets/
build/intermediates/exploded-aar/com.android.support/support-vector-drawable/23.3.0/jni/
build/intermediates/exploded-aar/com.android.support/support-vector-drawable/23.3.0/res/
build/intermediates/exploded-aar/com.getkeepsafe.relinker/relinker/1.2.1/aidl/
build/intermediates/exploded-aar/com.getkeepsafe.relinker/relinker/1.2.1/assets/
build/intermediates/exploded-aar/com.getkeepsafe.relinker/relinker/1.2.1/res/
build/intermediates/exploded-aar/com.jakewharton/butterknife/8.1.0/aidl/
build/intermediates/exploded-aar/com.jakewharton/butterknife/8.1.0/assets/
build/intermediates/exploded-aar/com.jakewharton/butterknife/8.1.0/jni/
build/intermediates/exploded-aar/com.jakewharton/butterknife/8.1.0/res/
build/intermediates/exploded-aar/io.reactivex/rxandroid/1.1.0/aidl/
build/intermediates/exploded-aar/io.reactivex/rxandroid/1.1.0/assets/
build/intermediates/exploded-aar/io.reactivex/rxandroid/1.1.0/res/
build/intermediates/exploded-aar/io.realm/realm-android-library/1.1.0/aidl/
build/intermediates/exploded-aar/io.realm/realm-android-library/1.1.0/assets/
build/intermediates/exploded-aar/io.realm/realm-android-library/1.1.0/res/
build/intermediates/incremental-verifier/
build/intermediates/jniLibs/
build/intermediates/manifest/t
mp/
build/intermediates/reload-dex/
build/intermediates/res/merged/androidTest/
build/intermediates/rs/
build/intermediates/shaders/
build/intermediates/symbols/androidTest/
build/intermediates/transforms/RealmTransformer/
build/intermediates/transforms/dex/
build/intermediates/transforms/extractJars/
build/intermediates/transforms/instantRun/
build/intermediates/transforms/instantRunSlicer/debug/folders/1/5/slice_0/android/
build/intermediates/transforms/instantRunSlicer/debug/folders/1/5/slice_0/com/
build/intermediates/transforms/instantRunSlicer/debug/folders/1/5/slice_0/ru/
build/intermediates/transforms/instantRunSlicer/debug/folders/1/5/slice_1/
build/intermediates/transforms/instantRunSlicer/debug/folders/1/5/slice_2/android/
build/intermediates/transforms/instantRunSlicer/debug/folders/1/5/slice_2/com/
build/intermediates/transforms/instantRunSlicer/debug/folders/1/5/slice_2/ru/
build/intermediates/transforms/instantRunSlicer/debug/folders/1/5/slice_3/com/
build/intermediates/transforms/instantRunSlicer/debug/folders/1/5/slice_3/io/
build/intermediates/transforms/instantRunSlicer/debug/folders/1/5/slice_4/com/
build/intermediates/transforms/instantRunSlicer/debug/folders/1/5/slice_4/ru/
build/intermediates/transforms/instantRunSlicer/debug/folders/1/5/slice_5/
build/intermediates/transforms/instantRunSlicer/debug/folders/1/5/slice_6/
build/intermediates/transforms/instantRunSlicer/debug/folders/1/5/slice_7/android/
build/intermediates/transforms/instantRunSlicer/debug/folders/1/5/slice_7/com/
build/intermediates/transforms/instantRunSlicer/debug/folders/1/5/slice_7/ru/
build/intermediates/transforms/instantRunSlicer/debug/folders/1/5/slice_8/com/
build/intermediates/transforms/instantRunSlicer/debug/folders/1/5/slice_8/ru/
build/intermediates/transforms/instantRunSlicer/debug/folders/1/5/slice_9/
build/outputs/apk/
build/tmp/
